body {
    background-color: cadetblue;
}

header {
    
    font-size: larger;
    background-color: aliceblue;
}

.navMain{
    justify-content: left;
    display: flex;
    align-items: center;

}
.titulo{
    justify-content: right;
    display: flex;
    align-items: center;
    font-style: italic black;
}

.workTime{
    background-color: floralwhite;
}

.punchesButton {
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 200px;
}


