header {
    background-color: rgba(244, 244, 244, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navMain {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
}

.nav-item {
    margin-left: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 104, 146);
}

.titulo h1 {
    color: rgb(66, 104, 146);
    font-size: 36px;
}

.workTimeArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.clock {
    font-size: 48px;
    margin-bottom: 20px;
}

.punchesButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.punchesButton button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

p {
    margin: 0;
    font-size: 15px;
    border-radius: 5px;
    border-color: black;
}


.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 104, 146);
}

#userCreator{
    margin-left: 50px;
    margin-right: 50px;
}

#listaUsuarios{
    
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: bisque;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 50px;
}

.botonRefresh {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
}